asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.12.3
colorama==0.4.1
cowpy==1.1.0
cryptography==2.7
cssselect==1.1.0
cycler==0.10.0
jieba==0.42.1
kiwisolver==1.3.1
matplotlib==3.3.3
numpy==1.19.4
Pillow==8.0.1
pyjsparser==2.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
six==1.12.0
tld==0.9.3
wincertstore==0.2
wordcloud==1.8.1
